.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header__top {
    width: 100%;
    background: orange;
}

.header__bottom-item {
    margin: 20px;
}

.header__bottom-list {
    display: flex;
}

.content__product-list {
    display: flex;
    justify-content: center;
}

.content__product-item {
    width: 250px;
    height: 300px;
    background: yellow;
    border: 1px solid black;
    margin: 10px;
}