.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('../img/bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 720px;
    // padding-bottom: 15px;
}

.header__container {
    background: rgba(black, 0.2);
    position: fixed;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 8888;
}

.header__container-active {
    opacity: 0;
}

.header__top-logo {
    margin-top: 20px;
}

.header__bottom-list {
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;

    a {
        color: #fff;
    }
    
}

.header__bottom-item {
    margin-right: 20px;
    font-size: 18px;
    
    &:last-child {
        margin-right: 0;
    }

    &:hover {
        transform: scale(1.1);
    }
}


// content

.content {
    margin-top: 30px;
}

.content__inf {
    width: 100%;
    height: 120px;
    background: rgba(#6a599e, 0.4);
}


// menu dummy

.content__menu-list {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    margin-bottom: 15px;
    // border: 1px solid black;
}

.content__menu-item {
    padding: 50px;
    width: 49.5%;
    // border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(#6a599e, 0.4);
}

.content__menu-pic {

    &:hover {
        transform: scale(1.1);
   }
}

.content__product {
    width: 100%;
}

.content__product-list {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-bottom: 15px;
    background: rgba(#6a599e, 0.4);
}

.content__product-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    width: 20%;

    &:hover {
        transform: scale(1.1);
        transition: .1s;
    }
}

.content__product-pic {
    display: flex;
    align-items: center;
    justify-content: center;
}

.content__product-img {
    width: 70%;
}

.content__product-name {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
}



// footer

.footer {
    height: 120px;
    background: #6a599e;
}